<!-- <app-first-form></app-first-form> -->
 <!-- <app-qualification-details></app-qualification-details> -->
 <!-- <app-identity-docs></app-identity-docs> -->
  <!-- <app-assignme></app-assignme/nts> -->
   <!-- <app-nominee-deatils></app-nominee-deatils> -->
  
   <!-- <app-practice></app-practice> -->
    <!-- <app-user-login></app-user-login> -->
     <!-- <app-theme></app-theme> -->
    <!-- <app-user-profile></app-user-profile> -->
     <!-- <app-child></app-child> -->
    <!-- <app-dynamic></app-dynamic> -->

    <!-- <router-outlet></router-outlet> -->
     <app-dynamic-form></app-dynamic-form>
     
      