
<!-- <div *ngFor="let user of Users">
    <strong><p>{{user.Name}}</p></strong>
<img [src]="user.imgUrl" height="500px">
</div> -->

<!-- <input type="text" (input)="UsersData($event)">
<button  (click)="ChangeUser()">changedata</button> -->

<!-- <strong><p>{{userName}}</p></strong>
<img [src]="profileImage" alt="no Img" height="500px">
<button (click)="UserData()">UserData</button> -->

<!-- <b><p>Counter :{{counter}}</p></b>
<button (click)="increment()">increment</button>
<button (click)="decrement()">decrement</button> -->
JHGHJGJHGJHGJHGHJGJ
<app-child [receviedData]="ParentMessage"></app-child>